@font-face {
    font-family: SVN-Poppins-Regular;
    src: url(../fonts/SVN-Poppins-Regular.otf);
}

@font-face {
    font-family: Poppins-Italic;
    src: url(../fonts/SVN-Poppins-Italic.otf);
}

@font-face {
    font-family: Poppins-Black-Italic;
    src: url(../fonts/SVN-Poppins-Black-Italic.otf);
}

@font-face {
    font-family: Poppins-Black;
    src: url(../fonts/SVN-Poppins-Black.otf);
}

@font-face {
    font-family: Poppins-Bold-Italic;
    src: url(../fonts/SVN-Poppins-Bold-Italic.otf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/SVN-Poppins-Bold.otf);
}

@font-face {
    font-family: Poppins-ExtraBold-Italic;
    src: url(../fonts/SVN-Poppins-ExtraBold-Italic.otf);
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url(../fonts/SVN-Poppins-ExtraBold.otf);
}

@font-face {
    font-family: Poppins-ExtraLight-Italic;
    src: url(../fonts/SVN-Poppins-ExtraLight-Italic.otf);
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url(../fonts/SVN-Poppins-ExtraLight.otf);
}

@font-face {
    font-family: Poppins-Light-Italic;
    src: url(../fonts/SVN-Poppins-Light-Italic.otf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/SVN-Poppins-Light.otf);
}

@font-face {
    font-family: Poppins-Medium-Italic;
    src: url(../fonts/SVN-Poppins-Medium-Italic.otf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/SVN-Poppins-Medium.otf);
}

@font-face {
    font-family: Poppins-SemiBold-Italic;
    src: url(../fonts/SVN-Poppins-SemiBold-Italic.otf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/SVN-Poppins-SemiBold.otf);
}

@font-face {
    font-family: Poppins-Thin-Italic;
    src: url(../fonts/SVN-Poppins-Thin-Italic.otf);
}

@font-face {
    font-family: Poppins-Thin;
    src: url(../fonts/SVN-Poppins-Thin.otf);
}