#pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pagination {
    --active-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    list-style-type: none;
}


.pagination li.page-item {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.pagination li.page-item:hover a {
    color: white;
    background: #777;
}

.pagination li.page-item.active a {
    color: white;
    background: #333;
}

.pagination li.prev a,
.pagination li.next a {
    font-size: 14px;

}

.pagination li.first a,
.pagination li.last a {
    display: none;

}

.pagination li.prev {
    margin-right: 20px;
}

.pagination li.next {
    margin-left: 20px;
}

.pagination li a {
    display: block;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #777;
    border-radius: 50%;
    transition: 0.3s;
}

@media only screen and (max-width: 567px) {
    .pagination li.page-item {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

    .pagination li a {
        display: block;
        line-height: 40px;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #777;
        border-radius: 50%;
        transition: 0.3s;
    }

    .pagination li.prev {
        margin-right: 25px;
    }

    .pagination li.next {
        margin-left: 25px;
    }
}